.body {
  margin: 50px 0;
  background-color: #ecfbf9;
  background-image: url(/assets/Images/cafe-bgv2.jpg);
  height: auto;
  width: auto;
}

.login-comp {
  background-color: rgb(245, 246, 244);
  border: solid rgb(255, 179, 49);
}

@media (min-width: 576px) {
  .card {
    max-width: 500px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 600px;
  }
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}
