<div
  id="carouselExampleFade"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <!-- First slide -->
    <div class="carousel-item active">
      <img src="/assets/Images/carasaul1.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome to Our Cafe</h5>
        <p>
          Indulge in a world of flavors and aromas at our cozy cafe. Experience
          the perfect blend of taste and ambiance.
        </p>
      </div>
    </div>

    <!-- Second slide -->
    <div class="carousel-item">
      <img src="/assets/Images/carasaul2.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Delicious Coffee Selection</h5>
        <p>
          Discover a wide range of meticulously crafted coffees, from rich and
          bold espressos to creamy lattes and cappuccinos.
        </p>
      </div>
    </div>

    <!-- Third slide -->
    <div class="carousel-item">
      <img src="/assets/Images/carasaul3.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Delectable Pastries and Treats</h5>
        <p>
          Indulge your sweet tooth with our freshly baked pastries, cakes, and
          desserts. Each bite is a delightful journey of flavors.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleFade"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


